body
{
	font-size: 12px;
	font-family: 'Arial';
	color:#c0c0c0;
	line-height: 2em;
	a{
		color:#727272;

	}
	.c{
		font-size: 14px;
		color: #b9f605;
		font-weight: bolder;
	}
	.x{
		color: #ffffff
	}

}

